*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

/* Fonts */

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Medium.woff2') format('woff2'),
      url('../fonts/HelveticaNeue-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Bold.woff2') format('woff2'),
      url('../fonts/HelveticaNeue-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue-Roman.woff2') format('woff2'),
      url('../fonts/HelveticaNeue-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* some styling */

body {
  margin: 0;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  overflow-x: hidden;
  font-family: "proxima-nova", sans-serif;
  font-weight: normal;
  color: #000;
  letter-spacing: normal;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.h1, h1 { 
  font-size: 42px;
}

.h2, h2 {
  font-size: 36px; 
}

.h3, h3 {
  font-size: 30px;
}

.h4, h4 {
  font-size: 20px;
}

.h5, h5 {
  font-size: 18px;
}

.h6, h6 {
  font-size: 16px;
}

a{
  transition: 0.5s ease all; 
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
}

p {
  font-size: 18px;
  color: #000;
  font-family: "proxima-nova", sans-serif; margin-top: 0;
  line-height: 1.5em; margin-bottom: 20px;
}

.img-fluid{
  max-width: 100%; 
  height: auto;
}

.container{
  max-width: 1140px; 
  width: 100%; 
  margin-left: auto; 
  margin-right: auto; 
  padding-left: 20px; 
  padding-right: 20px;
}

.btn { 
  position: relative; 
  display: inline-block; 
  width: auto; 
  height: auto; 
  background-color: transparent; 
  border: none;
  cursor: pointer;
  margin: 0px;
  font-style: normal;
  font-weight: 700;
  line-height: 1; 
  text-align: center;
}

.btn.btn-primary{
  background: #000;
}

a{
  color: #1e73be;
}

a:hover {
  color: #274271;
}

#body{
  overflow: hidden;
}


.btn:focus{
  outline: none; 
}

.btn-secondary:disabled, .btn-secondary[disabled], .btn-secondary.disabled{opacity: 0.64;}

sup {
  font-size: 10px;
  font-weight: bold;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.tab-show{
  display: none  !important;
}

.slick-dots{
  position: relative; 
  bottom: auto;
  margin: 35px auto 0;
}

.slick-dots li {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: #ccc; 
  transition: 0.5s ease all;
}

.slick-dots li.slick-active{
  background: #fff; 
  width: 22px;
}

.slick-dots li button { 
  display: none;
}

.small-icon.slick-arrow {
  width: 50px; 
  transition: 0.5s ease all; 
  height: 50px;
  box-shadow: 0px 4px 12px 0px #0000002E;
  background: #fff;
  border-radius: 50%;
  z-index: 2;
  color: #000;
}

.small-icon.slick-arrow:before {
  display: none;
}

.small-icon.slick-arrow:hover{
  background: #3B95FF;
  color: #fff;
}

.page-overlay{
  position: fixed; 
  z-index: 3; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0; 
  background: rgba(30, 43, 71,0.5); 
  opacity: 0; 
  visibility: hidden;
}

.open-menu .page-overlay{
  opacity: 1; 
  visibility: visible;
}

.mobile-show{
  display: none !important;
}

a, .swatch-element.color label {
  -webkit-tap-highlight-color: transparent;
}

.tab-show{
  display: none !important;
}

.glass_button{
  padding: 40px 0; 
  position: relative;
}

.button_wrap{    
  position: absolute;
  left: 50%; 
  top: 0;
  transform: translateX(-50%); 
  height: 30px; 
  width: 250px;     
  display: flex;   
  justify-content: center;
  align-items: center;
}

.button_wrap::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: .5s;
  transition-delay: .5;
}

.button_wrap a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, .05);
  box-shadow: 0 15px 15px rgba(0, 0, 0, .3);
  border-bottom: 2px solid rgba(199, 32, 47, .6);
  border-top: 2px solid rgba(199, 32, 47, .6);
  border-radius: 30px;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  font-weight: 400px;
  z-index: 1;
  transition: .5s; font-size: 18px;
  backdrop-filter: blur(15px); height: 54px;
}

.button_wrap a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, .15), transparent);
  transform: skewX(45deg) translate(0);
  transition: .5s;
  filter: blur(0px);
}

.button_wrap::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: .5s;
  transition-delay: .5;
}

.button_wrap:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.button_wrap:hover a::before {
  transform: skewX(45deg) translate(200px);
}

.button_wrap:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.button_wrap:hover a {
  letter-spacing: 3px;
}

/* Reset CSS ends */



a:active,a:focus,a:hover,a:link,a:visited{
  outline:0 none;
  text-decoration:none;
}

input[type=text]{
  outline:0;
  border:none;
  font-size:inherit;
}

input{
  cursor:pointer;
}

input[type=text]{
  cursor:text;
  box-sizing:border-box;
}

input[type=text]{
  font-size:13px;
  color:#767676;
  padding:10px 12px;
  background-color:#fdfdfd;
  border:1px solid #e3e3e3;
  outline:0;
  margin-bottom:4px;
}

input[type=text]:focus{
  background-color:#fff;
  border:1px solid #dcdcdc;
}

.search-panel{
  z-index:999;
}

:after,:before,input[type=text]{
  box-sizing:border-box;
}

.search-panel{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  opacity:0;
  visibility:hidden;
  background-color:rgba(0,0,0,.94);
  text-align:center;
  transition:all ease-in-out .25s;
}

.search-panel.search-panel-show{
  visibility:visible;
  opacity:1;
}

.search-panel.search-panel-show .search-wrapper{
  opacity:1;
  visibility:visible;
  -webkit-transform:scale(1);
  -ms-transform:scale(1);
  transform:scale(1);
  ms-transform:scale(1);
}

.search-panel:before{
  content:"";
  display:inline-block;
  height:100%;
  vertical-align:middle;
  margin-right:-.25em;
}

.search-panel .search-close{
  position:absolute;
  right:50px;
  top:70px;
  transition:-webkit-transform ease-out .2s;
  transition:transform ease-out .2s;
  transition:transform ease-out .2s,-webkit-transform ease-out .2s;
  -webkit-transform:rotate(0);
  -ms-transform:rotate(0);
  transform:rotate(0);
  height:26px;
}

.search-panel .search-close:hover{
  -webkit-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}

.search-panel .search-close svg{
  height:26px;
  fill:#fff;
}

.search-panel .search-wrapper{
  display:inline-block;
  max-width:1000px;
  vertical-align:middle;
  text-align:center;
  font-size:18px;
  -webkit-transform:scale(.9);
  -ms-transform:scale(.9);
  transform:scale(.9);
  ms-transform:scale(.9);
  opacity:0;
  visibility:hidden;
  transition:all ease-in-out .3s;
}

.search-panel .search-wrapper p{
  font-size:14px;
  margin-bottom:40px;
  color:#fff;
  letter-spacing:2px;
  text-transform:uppercase;
}

.search-panel .search-wrapper #search-form-overlay{
  position:relative;
}

.search-panel .search-wrapper #search-form-overlay #search-form-input{
  width:800px;
  background-color:transparent;
  box-shadow:0 3px 0 0 rgba(255,255,255,.1);
  border:0;
  text-align:center;
  font-size:35px;
  padding:20px;
  color:#fff;
  transition:all .3s ease-out;
}

.search-panel .search-wrapper #search-form-overlay #search-form-input:focus{
  box-shadow:0 3px 0 0 rgba(255,255,255,.2);
}

.search-panel .search-wrapper #search-form-overlay .search-form-icon{
  font-size:25px;
  position:absolute;
  right:15px;
  top:30px;
  color:#fff;
  color:rgba(255,255,255,.2);
  transition:all .2s ease-out;
}

.search-panel .search-wrapper #search-form-overlay .search-form-icon:hover{
  color:rgba(255,255,255,.3);
}

.search-panel.search-panel-show {
  visibility: visible;
  opacity: 1;
}

.search-panel.search-panel-show .search-wrapper {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  ms-transform: scale(1);
}

@media handheld, only screen and (max-width:991px){
.search-panel{display:none;}
}

.custom-svg-icon{
  width:auto;
  height:auto;
  fill:currentColor;
}

.search-panel{
  -webkit-transform:translateZ(0);
  transform:translateZ(0);
}




/*Header Css Start */

body.no-scroll{
  overflow: hidden;
}

#header{ 
  transition: all 0.3s ease-in-out; 
  position: sticky; 
  background: #fff; 
  z-index: 5;
}

#header.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  top:-34px;
  z-index: 5;
}

.header_top{
  background: #000; 
  padding: 8px 0;
}

.header-nav-links{
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

.header-nav-links ul{
  list-style: none; 
  padding: 0; 
  margin: 0; 
  display: flex; 
  gap: 0;
}

.header-nav-links ul li{
  color: #d4d4d4; 
  font-size: 15px; 
  font-family: "proxima-nova", 
  sans-serif; position: relative;  
}

.header-nav-links ul li a{
  color: currentColor; 
  padding: 0 15px; 
  position: relative; 
  line-height: 10px; 
  position: relative;
}

.header-nav-links ul li~li::before{
  content: ""; 
  width: 1px; 
  height: 10px; 
  background: rgba(128, 128, 128, .2); 
  position: absolute; 
  left: 0; 
  top: 50%; 
  transform: translateY(-50%);
}

.header-nav-links ul li a:hover{
  opacity: 0.8;
}

.header-nav-links .social-bar{
  gap: 10px;
}

.header-nav-links .social-bar li a{
  border: none; 
  padding: 0;
}

.header-nav-links .social-bar li a svg{
  fill: #fdfdfd; 
  display: block; 
  width: 20px !important; 
  height: 20px !important;
}

.header_bottom{
  background: #fff; 
  border-bottom: 1px solid #ededed;
  position: sticky;
}

.header_bottom_inner{
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}

.logo a{
  display: block;
}

.logo a img{
  display: block; 
  max-width: 150px; 
  transition:  0.5s ease-in-out;
}

.header_actions{
  display: flex; 
  gap: 10px; 
  align-items: center;
}

nav#main-menu>ul{
  list-style: none; 
  padding: 0; 
  margin: 0; 
  display: flex;
}

.nav-block{
  font-size: 16px; 
  text-transform: uppercase; 
  font-weight: 600; 
  position: relative;
}

.nav-block>a{
  color: #252021; 
  padding: 24px 16px; 
  display: block; 
  transition: color .1s ease-out,background .1s ease-out,border .1s ease-out,height .35s ease,line-height .35s ease;
  font-weight: 600;
}

.nav-block ul.dropdown {
  position: absolute;
  top: 100%; 
  transition: transform 0.5s ease-in-out; 
  border-top:2px solid #29a05b; 
  pointer-events: none; 
  opacity: 0; 
  right: auto;
  padding: 8px 0;
  background: #000; 
  list-style: none; 
  margin: 0;
}

.nav-block ul.dropdown li{
  font-size: 14px; 
  white-space: nowrap; 
  line-height: 18px; 
  text-transform: uppercase; 
  letter-spacing: 1px;
}

.nav-block ul.dropdown li a{
  color: #fff; 
  padding: 10px 20px; 
  min-width: 270px; 
  display: block;
}

@media (min-width: 992px) {
  .nav-block:hover>a{
    background: #000; 
    color: #fff;
  }

  .nav-block:hover ul.dropdown{
    pointer-events: inherit; 
    opacity: 1;
  }

  #header.fixed-header .logo a img{
    max-width: 125px;
  }

  #header.fixed-header .nav-block>a{
    padding: 16px;
  }
}

.mk-search-trigger svg{
  display: block;
}

.menu-btn{
  display: none;
}

.header__nav-button { 
  background: transparent;
  width: 18px;
  height: 16px; 
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
  display: block;   
  -webkit-transform: rotate(0deg);   
  -ms-transform: rotate(0deg);   
  transform: rotate(0deg); 
}


.header__nav-button:hover, .header__nav-button:focus { 
  outline: none; 
}

.header__nav-button > span {
  background:#000;
  display: block;
  position: absolute;
  height: 3px; 
  border-radius: 3px; 
  width: 100%; 
  left: 0; 
  transition: 0.5s ease all; 
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s ease-in-out,; 
  background: #1E2B47;
  transition: 0.3s ease-in-out, 
}

.header__nav-button > span:nth-child(1) { 
  top: 0px; 
}

.header__nav-button > span:nth-child(2) {
  top: 6px; 
}

.header__nav-button > span:nth-child(3) {
  top: 12px; 
}

.open-menu .header__nav-button > span:nth-child(1) {
  top: 6px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); 
}

.open-menu .header__nav-button > span:nth-child(2) {
  opacity: 0;
  left: -60px; 
}

.open-menu .header__nav-button > span:nth-child(3) {
  top: 6px; 
  -webkit-transform: rotate(-135deg); 
  -ms-transform: rotate(-135deg); 
  transform: rotate(-135deg); 
}

.tab-search{
  padding: 10px; 
  position: relative;
}

.tab-search input {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, .15);
  background-color: rgba(0, 0, 0, .02); 
  box-shadow: none;
  border-radius: 0;
  color: #9e9e9e;
}

.tab-search button {
  padding: 0;
  color: #000;
  fill: rgba(0, 0, 0, .3);
  height: 20px;
  width: 19px;
  vertical-align: middle;
  border: none;
  background: transparent;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.tab-search input:focus{
  outline: none;
}

.mk-search-trigger svg {
  fill: #000;
}

.mk-search-trigger{
  color: #000;
}

.header-button{
  transition: all 0.3s ease;
}

.header-button a {
  background: linear-gradient(to bottom, #c7202e 0%, #6b131c 100%);
  color: #fff;
  font-weight: 700;
  padding: 12px 24px;
  border-radius: 5px;
  margin-left: 10px;
}
.header-button:hover{
  transform: scale(1.1);
}

/*Header Css End */




/* Hero CSS Start */

.hero-section video{
  width: 100%; 
  height: 100vh; 
  object-fit: cover; 
  display: block; 
  position: relative;
}

.hero-content-row{
  position: absolute; 
  display: flex; 
  flex-wrap: wrap; 
  width: calc(100% - 40px); 
  left: 50%; 
  bottom: 0; 
  padding: 18px 37px; 
  transform: translateX(-50%); 
  z-index: 4; 
  background-color: rgba(13, 0, 22, 0.3);  
  color: rgb(255, 255, 255); 
  min-height: 0px; 
  min-width: 0px; 
  max-height: none; 
  max-width: 1140px; 
  border-color: rgba(255, 255, 255, 0.2); 
  border-style: solid; 
  border-width: 1px 1px 0px; 
  margin-left: 0px; 
  margin-right: 0px; 
  backdrop-filter: blur(10px); 
  filter: none; 
  transform-origin: 50% 50%; 
  opacity: 1;  
  visibility: visible;
}

.hero-event{
  width: 50%; 
  padding-right: 30px; 
  border-right:1px solid rgba(255, 255, 255,0.5) ; 
  padding-bottom: 45px;
}

.hero-content-row h4{
  color: rgba(255, 255, 255,0.5); 
  font-weight: 400; 
  font-size: 16px; 
  letter-spacing: 1px; 
  text-transform: uppercase; 
  letter-spacing: normal;
}

.hero-content-row h4 span{
  color: #ab2532;
}

.hero-event .single_event{
  margin-top: 40px;
}

.single_event>a {
  display: flex;
  background: #efefef;
  padding: 10px 15px;
  align-items: flex-start;
  gap: 10px; 
  transition: 0.5s ease-in-out; 
  border-radius: 10px;
}

.single_event>a:hover{
  padding-left: 22px; 
  background: #cacaca  
}

.event_img { 
  max-width: 120px;
}

.event_img img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

span.event_date {
  color: #2a2a2a;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
}

span.event_date i { 
  font-style: normal;
  font-size: 12px; 
  text-transform: uppercase; 
  display: block;
}

.event_info ul { 
  list-style: none;
  padding: 0; 
  margin: 0;
}

.event_info ul li {
  display: flex;
  align-items: center;
  gap: 9px;
  color: #363636;
}

.event_info ul li span {
  width: 12px;
}

.event_info h4{
  color: #333; 
  font-size: 22px; 
  text-transform: uppercase; 
  font-weight: 500;
}

.hero-follow{
  padding-left: 24px; 
  width: 50%; 
}

.hero-follow ul{
  list-style: none; 
  padding: 0; 
  margin: 0; 
  margin-top: 25px; 
  display: flex; 
  align-items: center;
}

.hero-follow ul li a{
  color: #fff;  
  padding: 0 15px 15px; 
  display: block; 
  position: relative;
}

.hero-follow ul li a::before{
  content: ""; 
  width: 100%; 
  height: 2px; 
  background: #fff;
  position: absolute; 
  bottom: 0; 
  left: 0; 
  opacity: 0; 
  visibility: hidden; 
  transition: 0.5s ease-in; 
}

.hero-follow ul li a svg{
  width: 18px; 
  max-height: 17px; 
  display: block;
}

.hero-follow ul li a:hover::before{
  opacity: 1; 
  visibility: visible;
}

.hero-follow .button {
  display: inline-block;
  padding: 5px 30px;
  font-size: 16px;
  font-weight: normal; letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  background-color: #c7062d;
  border-radius: 30px; margin-top: 20px;
  border: 2px solid #ff007f;
  box-shadow: 0 0 10px #ff007f;
  text-align: center;
  cursor: pointer;
  animation: zoomInOut 1.5s infinite alternate ease-in-out;
}

@keyframes zoomInOut {
  0% {
      transform: scale(1);
      box-shadow: 0 0 10px #ff007f;
  }
  100% {
      transform: scale(1.1);
      box-shadow: 0 0 20px #ff007f;
  }
}

.home_articles{
  background: #000; 
  padding: 50px 0 0; 
}

.home_articles h2{
  text-align: center; 
  display: inline-block;   
  font-family: "Oswald", 
  sans-serif; 
  color: #fff; 
  margin-bottom: 30px;
}

.home_articles h2::after{
  content: ""; 
  width: 100%; 
  height: 4px; 
  background:  #ab2532; 
  margin-top: 15px; 
  display: block; 
}

.home_articles_row {
  display: flex;
  flex-wrap: wrap;
}

.home_articles_row .article_item {
  width: 25%;
  position: relative; 
  padding-top: 23%;
}

.home_articles_row .article_item img {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home_articles_row .article_item .overlay{
  text-align: center; 
  z-index: 2; 
  padding: 0 15%; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}

.article_item .overlay::before{
  content: ""; 
  width: 100%; 
  height: 100%; 
  transition: all .25s ease-out; 
  background: #000; 
  opacity: 0.5; 
  position: absolute; 
  left: 0; 
  top: 0;
}

.home_articles_row .article_item time{
  font-size: 14px; 
  color: #fff; 
  font-style: italic;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-transform: uppercase;
  opacity: .7;
}

.home_articles_row .article_item time a{
  color: currentColor;
}

.home_articles_row .article_item time:after {
  width: 20px;
  height: 2px;
  content: "";
  display: block;
  margin: 6% auto; 
  background-color: #fff;
}

.article_item h3{
  margin: 8% 0;
  font-size: 20px ; 
  text-transform: uppercase; 
  font-weight: 700 ;  
  letter-spacing: 2px; 
  color: #fff; 
}

.article_item h3 a{
  color: #fff;
}

.article_item .btn-white{
  font-size: 13px; 
  color: #fff; 
  margin-top: 14px; 
  letter-spacing: 1px; 
  font-weight: 700; 
  border: 2px solid #fff; 
  padding: 20px 36px;
}

.article_item .btn-white:hover{
  color: #000; 
  background: #fff; 
}

.article_item .overlay>*{
  position: relative; 
  z-index: 2;
}

.home_articles_row .article_item:hover .overlay::before{
  opacity: 0.3;
}

.about_section{
  background: #000; 
  padding: 33px 0;
}

.about_section h4{
  background: url(/wp-content/themes/tevin-jackson-official/img/fancy-title-pattern.webp) repeat-x center; 
  text-align: center; 
  font-size: 16px; 
  margin-bottom: 20px; 
  font-weight: 600; 
  text-transform: uppercase;
}

.about_section h4 span{
  background: #fff; 
  padding: 0 10px; 
}

.about_section h2{
  text-align: center; 
  display: inline-block;   
  font-family: "Oswald", 
  sans-serif; 
  color: #fff; 
  margin-bottom: 30px;
}

.about_section h2::after{
  content: ""; 
  width: 60%; 
  height: 4px; 
  margin: 0 auto; 
  background:  #ab2532; 
  margin-top: 15px; 
  display: block; 
}

.about_row{
  display: flex; 
  flex-wrap: wrap; 
  align-items: center;
}

.about_row .content{
  width: 33.33%;
}

.about_row .content p{
  color: #fff; 
}

.about_row .image{
  width: 33.33%; 
  padding: 0 10px; 
  align-self: flex-start;
}

.about_row .image img{
  margin: 0 auto; 
  display: block;
}

.about_row .content .glass_button{
  margin-top: 40px;
}

.about_row .content ul{
  list-style: none; 
  margin: 0; 
  padding: 0;
}

.about_row .content ul li{
  color: #fff;  
  font-size: 20px;
  letter-spacing: 1px; 
  font-family: "Raleway", sans-serif;
  text-transform: none;
  position: relative;
  left: 1px;
  margin-bottom: 15px;
  transition: .5s ease;
}

.about_row .content ul li i{
  margin-right: 6px;
}

.about_row .content ul li svg{
  width: 10px;
}

.about_row .content ul li span{
  color:#c7202f;
}

.about_row .content ul li:hover{
  transform: translateX(10px); 
  color: #c7202f;
}

.about_row .content ul li:hover span{ 
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8); 
  color: #fff; 
  font-weight: 600;
}

.service_section{
  background: url(/wp-content/themes/tevin-jackson-official/img/grant-cardone-events-bg.webp) no-repeat center; 
  background-size: cover; 
  padding: 70px 0 50px;
}

.service_row{
  display: flex; 
  flex-wrap: wrap; 
  row-gap: 110px; 
  justify-content: space-between;
}

.single_service{
  width: 400px; 
  height: 280px; 
}

.single_service>a{
  max-width: 400px; 
  display: block; 
  position: relative;
}

.single_service:hover img {
  transform: scale(1.2);
}

.single_service>a img{
  width: 100%; 
  border-radius: 5px 5px 0 0; 
  transition: all 200ms ease-in-out; 
  display: block;
}

.single_service .overlay{
  display: flex;
  flex-direction: column; 
  position: absolute; 
  height: 280px; 
  width: 230px; 
  top: 0;   
  left: 320px;  
  overflow: hidden;  
  transition: all 200ms ease-in-out;
}

.single_service .overlay h2{
  position: relative;
  height: 400px;
  color: #fff;
  font-size: 60px ; 
  bottom: -118px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase ;
  text-shadow: 1px 1px 1px black;
  transition: all 200ms ease-in-out;
}

.single_service .overlay span{
  color:#c7202f
}

.single_service:hover .overlay h2 {
    bottom: 100px;
    left: -20px;
    transform: scale(.4);
}

.newsletter_section{
  padding: 50px 0; 
  background: #000;
}

.newsletter_head{
  display: flex; 
  padding: 0 15px; 
  align-items: center; 
  justify-content: space-between; 
  margin-bottom: 40px; 
  gap: 10px;
}

.newsletter_head h2{
  font-size: 40px;
  text-transform: uppercase; 
  width: 66.66%; 
  text-align: center; 
  font-family: "Oswald", 
  sans-serif; 
  color: #fff; 
  font-weight: 600; 
  letter-spacing: 1px;
}

.newsletter_head h2 span{
  color:#c7202f;
}

.newsletter_head .glass_button{
  padding: 27px 0; 
  width: 33.33%; 
  min-width: 250px;
}

.testimonial_section{
  background: #000; 
  padding: 40px 0; 
  text-align: center;
}

.testimonial_section #splide{
  cursor: grab;
}

.splide__slide {
  transition: 0.3s ease-in-out;
  filter: brightness(0.6);
}

.splide__slide.is-active,
.splide__slide:hover  {
  filter: brightness(1);
}



.testimonial_section h2{
  padding: 0 20px; 
  text-align: center; 
  display: inline-block;   
  font-family: "Oswald", 
  sans-serif; 
  color: #fff; 
  margin-bottom: 30px;
}

.testimonial_section h2::after{
  content: ""; 
  width: 60%; 
  height: 4px; 
  margin: 0 auto; 
  background:  #ab2532; 
  margin-top: 15px; 
  display: block; 
}

.use_book{
  background: #000; 
  padding: 40px 0;
}

.use_book h2{
  text-align: center; 
  display: inline-block;   
  font-family: "Oswald", 
  sans-serif; 
  color: #fff; 
  margin-bottom: 30px;
}

.use_book h2 span{
  color:#c7202f;
}

.use_book h2::after{
  content: ""; 
  width: 80%; 
  height: 4px; 
  margin: 0 auto; 
  background:  #ab2532; 
  margin-top: 15px; 
  display: block; 
}

.use_book_row{
  background:url(/wp-content/themes/tevin-jackson-official/img/books-grant-cardone-bg-black-4.jpg) no-repeat center; 
  background-size: cover; 
  padding-top: 40px; 
  padding-bottom: 58px;
}

.use_book_row{
  display: flex; 
  flex-wrap: wrap; 
  gap: 15px;
}

.use_book_row .part{
  display: flex; 
  flex-wrap: wrap; 
  width: 49%;
}

.use_book_row .part .item{
  padding: 0 13px; 
  width: 25%;
}

.use_book_row .part .item img{
  transition:.5s ease; 
  bottom: 1px; 
  display: block;
  position: relative;
}

.use_book_row .part .item img:hover {
  bottom: 15px;
  -webkit-box-shadow: 2px 25px 25px -1px rgba(130, 130, 130, 1);
  -moz-box-shadow: 2px 25px 25px -1px rgba(130, 130, 130, 1);
  box-shadow: 2px 25px 25px -1px rgba(130, 130, 130, 1);
  filter: grayscale(50%);
}

.testimonial-slider {
  width: 100%;
  margin: auto;
  padding: 50px 0;
}

.testimonial {
  padding: 20px;
  text-align: center;
  transition: transform 0.5s ease;
}

.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.testimonial p {
  font-size: 18px;
  font-style: italic;
}

.testimonial h3 {
  font-size: 16px;
  font-weight: bold;
}

.slick-center {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

.lets_connect{
  background: url(/wp-content/themes/tevin-jackson-official/img/grant-cardone-hated-sales-social-bg-2.jpeg) no-repeat center; 
  background-size: cover; 
  background-attachment:fixed;
}

.lets_connect_row {
  display: flex; 
  align-items: center; 
  flex-wrap: wrap;
}

.lets_connect_row .img{
  width: 33.33%; 
  overflow: hidden; 
  position: relative;
}

.lets_connect_row .img img{ 
  margin-bottom: -216px; 
  position: relative; 
  bottom: 0;
  transition: all .3s ease;
}

.lets_connect_row .img img:hover{
  bottom:50px;
}

.lets_connect_row .content{
  width: 66.66%; 
  padding: 0 15px; 
  text-align: center;
}

.lets_connect_row .content h2{
  text-align: center; 
  display: inline-block; 
  font-size: 36px; 
  letter-spacing: 1px;   
  font-family: "Oswald", 
  sans-serif; 
  color: #fff; 
  margin-bottom: 30px;
}

.lets_connect_row .content h2 span{
  color:#c7202f;
}

.lets_connect_row .content h2::after{
  content: ""; 
  width: 131px; 
  height: 4px; 
  margin: 0 auto; 
  background:  #ab2532; 
  margin-top: 15px; 
  display: block; 
}

.lets_connect_row .content p{
  font-weight: 900; 
  margin-top: 0; 
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.lets_connect_row .content p span{
  color:#c7202f;
}



#contact-info .links{
  display:flex;
  max-width:600px; 
  margin: 30px auto 0; 
  flex-wrap: wrap; 
  row-gap: 30px; 
  column-gap: 87px; 
  justify-content:space-between;
}

@media screen and (max-width:1200px){
#contact-info .links{display:flex;min-width:500px;justify-content:space-between;}
}

@media screen and (max-width:900px){
#contact-info .links{display:flex;min-width:465px;justify-content:space-between;}
}

#contact-info a{
  text-decoration:none;
  color:#f2f1c6;
  font-size:2rem;
}

#contact-info .links a{
  display:block;
  position:relative;
}

#contact-info .links a::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border:1px solid transparent;
  transition:all .3s;
}

#contact-info .links a:hover::after{
  --transformed-box-diagonal-length:164%;
  width:var(--transformed-box-diagonal-length);
  left:calc(( 100% - var(--transformed-box-diagonal-length) ) / 2);
}

#contact-info .links a div{
  position:relative;
  display:block;
  width:80px;
  height:80px;
  transition:transform .3s;
}

#contact-info .links a:hover div{
  transform:rotate(-35deg) skew(20deg);
}

.links a span{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transition:.5s;
  border:1px solid #f2f1c6;
  border-radius:5px;
}

.links a span:nth-child(5){
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
}

.links a:hover span:nth-child(5){
  transform:translate(20px,-20px);
  opacity:1;
}

.links a:hover span:nth-child(4){
  transform:translate(15px,-15px);
  opacity:.8;
}

.links a:hover span:nth-child(3){
  transform:translate(10px,-10px);
  opacity:.6;
}

.links a:hover span:nth-child(2){
  transform:translate(5px,-5px);
  opacity:.4;
}

.links a:hover span:nth-child(1){
  opacity:.2;
}

.links a.facebook-background span{
  background:#4267b2;
  border-color:#ffd0d4;
}

.links a.facebook-background span:nth-child(5){
  background:#4267b2;
}

#contact-info svg{
  width: 40px;
}

#contact-info .facebook-background svg {
  width: 26px;
}

#contact-info .snapchat-background svg {
  fill: #000;
}

#contact-info .facebook-background{
  color:white!important;
}

.links a.tiktok-background span{
  background:linear-gradient(to right top,#ff0050,#cc1048,#9a173e,#6b1830,#3e1420,#3f1d2d,#3d2738,#3c3040,#50587a,#4388b4,#00bddd,#00f2ea);
  border-color:#ffd0d4;
}

.links a.tiktok-background span:nth-child(5){
  background:linear-gradient(to right top,#ff0050,#cc1048,#9a173e,#6b1830,#3e1420,#3f1d2d,#3d2738,#3c3040,#50587a,#4388b4,#00bddd,#00f2ea);
}

.links a.instagram-background span{
  background:linear-gradient(to right top,#5851d8,#7f48c9,#9840ba,#aa39a9,#b73599,#ca368c,#d93c7e,#e34771,#f35d62,#fd7855,#ff934a,#fcaf45);
  border-color:#ffd0d4;
}

.links a.instagram-background span:nth-child(5){
  background:linear-gradient(to right top,#5851d8,#7f48c9,#9840ba,#aa39a9,#b73599,#ca368c,#d93c7e,#e34771,#f35d62,#fd7855,#ff934a,#fcaf45);
}

.links a.youtube-background span{
  background:#f00;
  border-color:#ffd0d4;
}

.links a.youtube-background span:nth-child(5){
  background:#f00;
}

@media screen and (max-width:760px){
#contact-info .links a div{width:60px;height:60px;}
#contact-info .links{display:flex;min-width:380px;justify-content:space-between;}
}

.links a.snapchat-background span{
  background:#fffc00;
  border-color:#ffd0d4;
}

.links a.snapchat-background span:nth-child(5){
  background:#fffc00;
}

#contact-info .snapchat-background{
  color:black!important;
}

.links a.linkedin-background span{
  background:#0077b5;
  border-color:#ffd0d4;
}

.links a.linkedin-background span:nth-child(5){
  background:#0077b5;
}

.links a.twitter-background span{
  background:#5a5a5a;
  border-color:#000;
}

.links a.twitter-background span:nth-child(5){
  background:#2a2a2a;
}


/* Footer css Start*/
.footer_wrap {
  background: #000;
  padding: 26px 0 20px;
}

.footer_link_wrap {
  display: flex; 
  flex-wrap: wrap; 
  margin: 0 -15px;
}

.footer_link{
  width: 25%; 
  padding: 0 15px; 
  margin-bottom: 40px;
}

.footer_link h4{
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  font-weight: bolder;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.footer_link ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.footer_link ul li {
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  color: #fff;
}

.footer_link ul li a {
  color: currentColor;
  padding: 5px;
  display: inline-block; 
  display: flex; 
  gap: 7px;
}

.footer_link ul li a:hover{
  color: #81d742;
}

.footer_logo_wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 55px auto 10px;
}

.footer_logo_wrap .item {
  width: 20%; 
  padding: 0 10px;
}

.copyright p{
  color: #fff; 
  font-size: 15px;
  margin: 0;
}

/* Footer css End */

/* ABout page css*/
.about-hero-section{
  padding: 160px 0; 
  background: url(/wp-content/themes/tevin-jackson-official/img/gc-about-banner-bg.webp) no-repeat center; 
  background-size: cover;
}

.about-hero-section-text {
  width: 50%; 
  padding: 0 12px; 
  margin-left: auto;
  text-align: center; 
  color: #fff;
}

.about-hero-section-text h1 {
  font-size: 35px;
  line-height: 90%;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 18px;
}

.about-hero-section-text p{  
  font-size: 18px;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 400; 
  line-height: 1.2em;
}

.about-grant-cardone{
  padding: 50px 25px;
}

.about-grant-cardone .head{
  text-align: center;
}

.about-grant-cardone p{
  font-size: 18px; 
  color: #000; 
  line-height: 1.5em; 
  margin-bottom: 20px;
}

.about-grant-cardone h2{
  font-size: 30px; 
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2em; 
  margin: 0;
}

.about-movement-section{
  padding: 30px 0 40px;
}

.about-movement-head h2 {
  font-size: 36px;
  line-height: 90%;
  color: #000;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 38px;
}

.about-movement-head h2+p{
  text-align: center;
}

.about-movement-head p{
  font-size: 18px;
  color: #000;
  line-height: 1.5em; 
  margin-bottom: 20px;
}

.about-movement-head p a{
  color: #1e73be;
}

.about-movement-head p a:hover{
  color: #274271;
}

.about-movement-row{
  display: flex; 
  row-gap: 20px; 
  flex-wrap: wrap; 
  margin: 0 -15px;
}

.about-movement-row .item{
  width: 33.33%; 
  padding: 0 15px;
}

.about-movement-row .img{
  margin-bottom: 10px;
}

.about-movement-row .img img{
  width: 100%; 
  display: block;
}

.about-movement-row .item p{
  margin: 0;
  font-size: 18px; 
  color: #000; 
  line-height: 1.5em;
}

.about-signup-section{
  padding: 35px 0 53px; 
  background: #eaeaea;
}

.about-signup-section-row{
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
}

.about-signup-section-content{
  width: 66%;
}

.about-signup-section-content h2{
  font-size: 30px;
  font-weight: 600; 
  line-height: 1.2em; 
  margin-bottom: 38px;
}

.about-signup-section-content .list-tick{
  margin: 0; 
  padding: 0; 
  list-style: none;
}

.about-signup-section-content .list-tick li{
  padding-left: 21px; 
  font-size: 18px; 
  line-height: 24px; 
  margin-bottom: 6px; 
  color: #222; 
  font-weight: 700; 
  position: relative;
}

.about-signup-section-content .list-tick li::before{
  content: ""; 
  width: 14px; 
  height: 16px; 
  background: url(/wp-content/themes/tevin-jackson-official/img/tick.svg) no-repeat center; 
  background-size: cover;     
  position: absolute;
  top: 4px;
  left: 0;
}

.about-banner-section{
  background: url(/wp-content/themes/tevin-jackson-official/img/gc-bg-1.webp) no-repeat center; 
  background-size: cover; 
  padding: 255px 0;
}

.about-banner-section h2{    
  font-size: 28px;
  color: #fff;
  text-align: center;
  font-style: italic;
  font-weight: 400; 
  line-height: 1.2em;
}

.btn-green:hover{
  color: #fff;
}

/* ABout page css End*/




@media (max-width: 1430px) {

  .single_service .overlay h2{
    font-size: 42px; 
    bottom: -140px;
  }
}

@media (max-width: 1300px) {
  nav#main-menu>ul .nav-block:last-child .dropdown{
    right: 0;
  }

  .home_articles_row .article_item{
    padding-top: 32%;
  }

  .single_service .overlay{
    left: 69%;
  }

  .single_service .overlay h2{
    font-size: 35px;
  }

}

@media (max-width: 992px) {
  body.open-menu{
    overflow: hidden;
  }

  #header { 
    position: relative; 
    z-index: 3;
  }

  .header-nav-links .social-bar{
    display: none;
  }

  .header-nav-links ul li a{
    padding: 0 10px;
  }

  .header_bottom{
    padding: 6px 0;
  }

  .header_actions { 
    display: block; 
    width: 100%; 
    max-height: 92vh; 
    overflow-y: auto; 
    position: absolute; 
    left: 0;
    background: #fff;
    top: 100%; 
    transform: translateY(-200%); 
    transition: transform 0.5s ease-in-out; 
  }

  nav#main-menu>ul{
    display: block;
  }

  .header_actions.open{
    transform: translateY(0);
  }

  .nav-block {
    border-bottom: 1px solid rgba(128,128,128,.2);
    font-size: 13px;
    font-weight: 700;
  }

  .nav-block>a {
    display: block;
    padding: 15px 20px;
  }

  .nav-block ul.dropdown {
    position: relative;
    opacity: 1;  
    top: auto; 
    pointer-events: inherit; 
    display: none; 
    width: 100%  !important; 
    padding: 0; 
    border-top: 1px solid rgba(128, 128, 128, .2);   
    background: #fff;
  }

  .nav-block ul.dropdown li{ 
    font-size: 13px;
    line-height: 13px; 
    letter-spacing: normal; 
    text-transform: initial;
  }

  .nav-block ul.dropdown li a{ 
    padding: 12px 15px 12px 15px;   
    font-weight: 400; 
    color: #333;
  }

  .menu-btn{
    display: block;
  }

  .nav-block>a:hover { 
    background-color: rgba(0, 0, 0, .03);
  }

  .nav-block.dropdown-toggle>a{
    position: relative;
  }

  .nav-block.dropdown-toggle>a::before{
    content: ""; 
    position: absolute; 
    display: block; 
    width: 16px; 
    height: 16px; 
    background: url(/wp-content/themes/tevin-jackson-official/img/arrow-down.svg) no-repeat center; 
    background-size: cover; 
    opacity: 0.7;
    right: 26px; 
    top: 50%; 
    transform: translateY(-50%);
  }
  
  .nav-block.dropdown-toggle>a.open::before{
    opacity: 1;
  }

  .tab-show{
    display: block !important;
  }

  .search-icon{
    display: none;
  }

  .home_articles_row .article_item{
    padding-top: 54%;
  }

  .home_articles_row .article_item{
    width: 50%;
  }

  .hero-content-row, .service_row{
    zoom: 80%;
  }

  #contact-info .links{
    column-gap: 10%;
  }

  .lets_connect_row .content{
    padding-bottom: 30px;
  }

  .subscribe-social-row .item p{
    display: none;
  }

}

@media (max-width: 767px) {
  .header_top{
    display: none;
  }

  #header.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 5; 
  }

  .footer_wrap{
    padding-top: 63px;
  }

  .footer_link_wrap{
    display: none;
  }

  .footer_logo_wrap{
    flex-direction: column; 
    gap: 20px; 
    margin-bottom: 20px;
  }

  .footer_logo_wrap .item {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .copyright{
    text-align: center;
  }

  .home_articles_row .article_item{
    width: 100%;
  }

  .home_articles_row .article_item{
    padding-top: 100%;
  }

  .home_articles_row .article_item time{
    margin-bottom: 1px;
  }

  .article_item h3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .home_articles h2{
    font-size: 24px;
  }

  .hero-content-row{
    zoom: 100%; 
    padding:18px;
  }

  .hero-follow {
    padding-left: 0;
    width: 100%;
    text-align: center;
  }

  .hero-follow ul{
    justify-content: center;
  }

  .hero-follow .button{
    padding: 4px 20px;
  }

  .hero-event{
    display: none;
  }

  .about_section h2{
    font-size: 24px;
  }

  .about_row .content{
    width: 100%;
  }

  .about_row .image{
    width: 100%;
  }

  .about_row .content ul li{
    font-size: 18px;
  }

  .service_row { 
    row-gap: 60px; 
    zoom: 1; 
    justify-content: center;
  }

  .service_section .container{
    padding: 0;
  }

  .single_service{
    width: 100%; 
    height: auto;
  }

  .single_service>a{
    max-width: 100%;
  }

  .use_book_row .part{
    width: 100%;
  }

  .use_book_row{
    row-gap: 46px;
  }

  .lets_connect_row{
    flex-direction: column-reverse;
  }

  .lets_connect_row .img img{
    margin-bottom: 0; 
    max-width: 250px; 
    margin: 0 auto; 
    display: block;
  }

  .lets_connect_row .img{
    width: 100%; 
  }
  
  .lets_connect_row .content{
    width: 100%;
  }

  #contact-info .links{
    column-gap: 0; 
    max-width: 385px;
  }

  #contact-info .links a{
    width: 25%;
  }

  #contact-info svg {
    width: 31px;
  }

  #contact-info .facebook-background svg {
    width: 18px;
  }

  .lets_connect_row .content h2{
    font-size: 24px;
  }

  .newsletter_head{
    flex-wrap: wrap; 
    row-gap: 30px;
  }

  .newsletter_head h2{
    width: 100%; 
    font-size: 24px; 
    text-align: center;
  }

  .mobile-show{
    display: block  !important;
  }

  .newsletter_head .glass_button{
    width: 100%;
  }

  .about-hero-section{
    background: url(/wp-content/themes/tevin-jackson-official/img/gc-about-banner-bg-mob.webp) no-repeat center; 
    background-size: cover;
  }

  .about-hero-section-text{
    width: 100%; 
    padding: 0;
  }

  .about-hero-section-text h1{
    font-size: 30px;
  }

  .about-grant-cardone h2{
    font-size: 24px;
  }

  .about-movement-head h2{
    font-size: 28px;
  }

  .about-grant-cardone{
    padding-bottom: 28px;
  }

  .about-movement-row .item{
    width: 100%;
  }

  .about-signup-section-row{
    row-gap: 50px;
  }

  .about-signup-section-content{
    width: 100%;
  }

  .about-signup-section-content h2{
    font-size: 24px;
  }
  .about-banner-section{
    padding: 50px 0;
  }

  .about-banner-section h2{
    font-size: 24px;
  }


  .about-signup-section.sign_new .about-signup-section-content {
    width: 100%;
  }


  #contact-info .links a div{
    margin: 0 auto;
  }
}

@media screen and (max-width:500px){
  #contact-info .links a div{
    width:50px;
    height:50px;
  }

  #contact-info .links{
    display:flex;
    min-width:260px;
    justify-content:space-between;
  }

  #contact-info svg {
    width: 20px;
  }

  #contact-info .facebook-background svg {
    width: 14px;
  }
}



#button-top {
    background-color: #ccc;
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    position: fixed;
    align-items: center; justify-content: center;
    bottom: 15px;
    width: 45px;
    height: 45px;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    right: -60px;
    opacity: 0;
    transition: all .2s ease-in-out; color: #fff;
}

#button-top:hover{
  background: rgba(0,0,0,.3);
}

#button-top.show {
  opacity: 1;
  visibility: visible; right: 15px;
}

#splide{
  margin-top: 100px;
}

.splide__slide img  {
  display: block;
  width: 100%;
  border-radius: 8px;
  transition: transform 400ms;
  transform: scale(.9) rotateX(0.1deg) rotateY(-5deg) rotateZ(0deg) scale3d(1, 1, 1);
  transform-origin: center center;
  background: -webkit-linear-gradient(left, rgba(11, 11, 11, 0), rgb(11, 11, 11)); mix-blend-mode: multiply;
}
  
.splide__slide.is-active img{
  transform: scale(1.1); background: #000; 
}

.ms-slide{
  padding: 20px 0; 
  transition: 0.5s ease-in-out;
}

.ms-slide img{ 
  transition: 0.5s ease-in-out; 
}

.ms-slide.ms-sl-selected img{
  background: #000; 
}

.ms-layout-partialview .ms-container{
  padding: 0px 0 70px;
}

.loader-btn {
  width: 60px;
  height: 30px;
  background: #c4c4c4;
  border-radius: 50px;
  display: flex; 
  justify-content: center;
  align-items: center;
  position: relative; margin: 50px auto 0;
}


.loader-in { 
  width: 15px; 
  position: absolute; 
  top:-2px; 
  left: -2px;
  height: 15px;  
  border: 2px solid #fff; 
  border-radius: 50%;
  border-top: 2px solid transparent;   
  animation: spin 1.5s linear infinite, colorChange 3s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes colorChange {
  0%   { border-top-color: #333; } 
  25%  { border-top-color: #333; } 
  50%  { border-top-color: #333; } 
  75%  { border-top-color: #333; } 
  100% { border-top-color: #333; } 
}



#circle-loader-wrap {
  overflow: hidden;
  position: relative;
  width: 18px;
  height: 18px;
  box-shadow: 0px 0px 1px  2px rgba(255, 255, 255,1) inset;
  border-radius: 20px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}


#circle-loader-wrap div {
  overflow: hidden;
  position: absolute;
  width: 50%;
  height: 100%;
}

#circle-loader-wrap .loader {
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 1000px;
  border:2px solid #333 ;
}

#circle-loader-wrap .left-wrap {
  left: 0;
}

#circle-loader-wrap .left-wrap .loader {
  border-left: NONE;
}

#circle-loader-wrap .right-wrap .loader {
  border-right: none;
}

#circle-loader-wrap .left-wrap .loader {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transform-origin: 0 50% 0;
  -webkit-transform-origin: 0 50% 0;
  animation: loading-left 2s infinite linear;
  -webkit-animation: loading-left 2s infinite linear;
}

#circle-loader-wrap .right-wrap {
  left: 50%;
}

#circle-loader-wrap .right-wrap .loader {
  left: -100%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  transform-origin: 100% 50% 0;
  -webkit-transform-origin: 100% 50% 0;
  animation: loading-right 2s infinite linear;
  -webkit-animation: loading-right 2s infinite linear;
}

@keyframes loading-left {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@-webkit-keyframes loading-left {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}

@keyframes loading-right {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@-webkit-keyframes loading-right {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}



/* FreeBooks Page */

.free-books-hero{
  background: linear-gradient(to bottom, #D4DEE6 70%, #1F2835 30%);
  padding: 25px 0px;
}

.free-books-hero-content h1 {
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 35px;
  color: #000;
  font-weight: 600;
  line-height: 1.2em;
}

.free-books-hero-content h4{
  font-size: 18px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  height: 85px;
  margin-bottom: 9px;
}

.free-books-hero-media{
  gap: 20px;
  display: flex;
}

.free-books-hero-media img, .free-books-hero-media video {
  width: 50%;
}

.free-books-hero-media img{
  padding-top: 120px;
}

.book{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 60px 0px;
}

.white-background{
  background-color: #FCFCFC;
}

.minor-dark-background{
  background: #F1F1F1;
}

.book-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.book-section-left img{
  margin-bottom: 18px;
}

.book-section-left h1{
  margin-top:-10px;
  text-align:center;
  font-family:serif !important;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:black;
}

.book-section-right {
  width: 100%;
}

.book-section-right h2{
  letter-spacing: 1px;
  text-transform: initial;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  padding-top: 0px;
  padding-bottom: 20px;
  margin-bottom: 18px;
}

.book-section-right p {
  font-size: 18px;
  color: #000;
  line-height: 1.5em;
  font-family: sans-serif;
}

.book-section-right ul {
  padding: 0px;
  margin-bottom: 30px;
}

.book-section-right ul li {
  list-style: none;
  font-weight: 700;
  line-height: 24px;
  font-size: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 0 6px 0;
}

.book-section-right ul li svg{
  fill: #274271;
  margin-right: 5px;
}

.book-section-right .btn-with-warning{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.book-section-right .btn-with-warning a {
  background: linear-gradient(to bottom, #c7202e 0%, #6b131c 100%);
  color: #fff;
  font-weight: 700;
  padding: 15px 30px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.book-section-right .btn-with-warning a:hover{
  transform: scale(1.1);
}

@media (max-width: 426px) {
  .free-books-hero-media img{
    display: none;
  }

  .free-books-hero-media video{
    width: 100%;
  }
  
  .book{
    flex-direction: column;
  }
}